
.container{
    max-width: 1200px;
}
.row{
    padding: 10px;
    margin: 100px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 0px 2px  rgba(74, 75, 75, 0.5);
    
}
.col-3{
    background:#ecf0f3;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.col-3 a{
    margin-top: 10px;
    background:#cfd0d1;
    box-shadow: 0px 2px 0px 2px  rgba(74, 75, 75, 0.5);
    text-align: center  ;
    border-radius: 5px; 
}
.col-9{
    background-image: url(./img/Create-A-Background-Particles-System-With-JavaScript-And-Canvas-nodes.js.webp);
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
select{
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: black;
    border-radius: 10px;
}